.about {
  &-heading {
    position: relative;
    font-size: 1rem;
    margin-bottom: 1.5rem;

    &::after {
      content: '';
      height: 3px;
      width: 80px;
      position: absolute;
      top: 28px;
      left: 0;
      border: 2px solid map-get($map: $colors, $key: text);
    }
  }
  &-content {
    display: grid;
    gap: 2rem;
    @include breakpoint-up(about) {
      grid-template-columns: 2fr 1fr;
    }

    &-left {
      &-btn {
        margin-top: 1rem;
      }
    }
    &-right {
      p {
        line-height: 1.6;
        font-size: 14px;
        letter-spacing: 0.1px;
        margin-bottom: 1rem;

        span:nth-child(1) {
          font-weight: 500;
          padding-right: 10px;
          position: relative;

          &::after {
            content: ':';
            position: absolute;
            right: 0;
            top: 0;
          }
        }
      }
    }
  }
}
