.counters {
  // padding: 0;
  display: grid;
  background: map-get($map: $colors, $key: text);
  // background-image: linear-gradient(315deg, #000, #7f8c8d 74%);

  @include breakpoint-up(middle) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &-div {
    margin-left: 6rem;

    @include breakpoint-up(middle) {
      margin-left: 0;
    }
  }
  > div {
    display: flex;
    align-items: center;

    svg {
      margin-right: 10px;
      align-self: flex-start;
    }
    i {
      margin-right: 10px;
      align-self: flex-start;
    }

    .fas {
      font-size: 2rem;

      &.bag {
        margin-left: -0.3rem;
      }
      //   font-weight: 500;
    }
    .text {
      display: flex;
      flex-direction: column;
      margin-left: 0.5rem;
      justify-content: space-between;
      @include breakpoint-up(middle) {
        margin-left: 0;
      }
      &.move {
        margin-left: 1rem;
        @include breakpoint-up(middle) {
          margin-left: 0;
        }
      }
    }
    h3 {
      display: flex;
      margin-bottom: 0.2rem;
      font-weight: 600;
    }
  }
}
.count {
}
