.skills {
  &-content {
    display: grid;
    align-items: center;
    @include breakpoint-up(large) {
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }

    &-left {
      display: grid;
      @include breakpoint-up(middle) {
        grid-template-columns: 1fr 1fr;
      }
      p {
        font-size: 0.8rem;
        line-height: 1.7;

        &.center {
          //   display: none;
        }
      }
      .heading {
        margin-bottom: 2rem;
        .fas {
          font-size: 1.4rem;
        }
        h5 {
          font-size: 1rem;
          margin-top: 0.5rem;
        }
      }
      &-timeline-wrapper {
        border-left: 2px dotted map-get($map: $colors, $key: text);
        &-item {
          margin-bottom: 2rem;
          position: relative;
          margin-left: 1rem;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 20px;
            width: 10px;
            height: 10px;
            border: 2px solid map-get($map: $colors, $key: bg);
            border-radius: 50%;
            margin-left: -21px;
          }
        }
      }
      &-timeline-technology {
        .center {
          position: relative;
          margin-left: 1rem;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 5px;
            width: 10px;
            height: 10px;
            border: 2px solid map-get($map: $colors, $key: bg);
            border-radius: 50%;
            margin-left: -21px;
          }
        }
      }
    }
    &-right {
      .skills-box {
        margin-bottom: 2rem;
        h4 {
          font-size: 1rem;
          text-transform: uppercase;
          font-weight: 500;
          margin-bottom: 1rem;
        }
      }
      .progress-wrap {
        background: map-get($map: $colors, $key: bg);
        height: 6px;
        width: 100%;
        box-shadow: 0px 0px 1px 0.25px map-get($map: $colors, $key: text);
        border-radius: 10px;
        border: 2px solid map-get($map: $colors, $key: text);
      }
      .progress-bar {
        display: block;
        height: 100%;
        background: map-get($map: $colors, $key: text);
        width: 0;
        position: relative;
        transition: all 1s ease-in-out;
      }
      .tooltip {
        position: absolute;
        right: -18rem;
        top: -40px;
        margin-bottom: 10px;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
  }
}
.technology-main {
  margin-top: -1rem;
  margin-bottom: 2rem;
}
